.center-container {
  position: relative !important;
  height: 100%;
}

.center-content {
  position: absolute !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &-horizontaly {
    left: 50%;
    transform: translate(-50%, 0)
  }
  &-vertically {
    top: 50%;
    transform: translate(0, -50%)
  }
}

@for $i from 1 through 100 {
  @include all-directions-spacer('margin', #{$i}, vh);
  @include all-directions-spacer('padding', #{$i}, vh);
}
