// Shadow into light
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
// Truculenta
@import url('https://fonts.googleapis.com/css2?family=Truculenta:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Fontawesome required
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

// Colors
$primary: #67b9e9;
$secondary: #8f8093;
$info: #b7d9f2;
$danger: #FF4F58;
$warning: #c3af97;
$white: #F5F5F5;
$dark: #494949;
$grey: #DCDCDC;