// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Fontawesome required
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

// Colors
$primary: #67b9e9;
$secondary: #8f8093;
$info: #b7d9f2;
$danger: #833437;
$warning: #c3af97;
$white: #fff;
$dark: #353831;

$light-primary: #b4dcf5;
$light-secondary: #c7c0c8;
$light-info: #dbebf8;
$light-danger: #c19a9b;
$light-warning: #e1d7cb;
$light-white: #fff;
$light-dark: #9a9c97;

$dark-primary: #345c75;
$dark-secondary: #474048;
$dark-info: #5b6b78;
$dark-danger: #411a1b;
$dark-warning: #61574b;
$dark-white: #fff;
$dark-dark: #1a1c17;