{% if users is empty and movies is empty %}
    <p>Aucun utilisateur ne porte ce nom et aucun film non plus.</p>
{% else %}
    <div class="row col-12">
        {% for user in users %}
            <div class="col-12 col-sm-6 mb-1">
                {% include 'user/_partials/_userPanel.html.twig' with {'context': 'following', 'buttonDisplay': true} %}
            </div>
        {% endfor %}
    </div>

    {% if users is not empty and movies is not empty %}<div class="col-12"><hr></div>{% endif %}

    <div class="row col-12">
        {% for movie in movies %}
            {% if movie.poster_path is defined and movie.poster_path and movie.title is defined %}
                <div class="col-12 col-md-4 col-lg-3 p-3">
                    <a href="{{ path('movie.details', {'tmdbId': movie.id}) }}">
                        <img class="img-fluid" src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }} poster">
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
