{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Feed{% endblock %}

{% block body %}
    <p>List page</p>
    <hr>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-12">
                <div class="timeline timeline-line-solid">

                <span class="timeline-label">
                    <span class="label">April</span>
                </span>

                    <div class="timeline-item">
                        <div class="timeline-point timeline-point"></div>
                        <div class="timeline-event">
                            <div class="timeline-widget ">
                                <div class="widget-header d-flex align-items-center">
                                    <div class="user-image">
                                        <img class="rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="...">
                                    </div>
                                    <div class="d-flex flex-column mr-auto">
                                        <div class="title">
                                            <span class="username">Nathan Hunter</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-body">
                                    <p>
                                        Nullam aliquam felis ut elit rutrum mattis. Curabitur arcu eros, imperdiet id gravida sit amet, pulvinar non ex.
                                        Cras ac ligula eget sapien suscipit luctus non a risus. Curabitur iaculis consectetur enim vel dignissim. Ut ac mi dolor.
                                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                                        Integer lobortis justo erat, ac faucibus risus laoreet semper. Aenean et sollicitudin ante, vel finibus velit.
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </p>
                                </div>
                                <div class="widget-footer d-flex">
                                    <a href="#" class="mr-1">
                                        <i class="fa fa-heart-o"></i>
                                    </a>
                                    <a href="#" class="mr-1">
                                        <i class="fa fa-comment-o"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="time-right">25 min ago</div>
                        </div>
                    </div>

                    <div class="timeline-item">
                        <div class="timeline-point timeline-point"></div>
                        <div class="timeline-event">
                            <div class="timeline-widget">
                                <div class="widget-header d-flex align-items-center">
                                    <div class="user-image">
                                        <img class="rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="...">
                                    </div>
                                    <div class="d-flex flex-column mr-auto">
                                        <div class="title">
                                            <span class="username">Brandon Smith</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="widget-body">
                                    <div class="content-img">
                                        <a href="#"><img src="https://www.washingtonpost.com/graphics/2019/entertainment/oscar-nominees-movie-poster-design/img/green-book-web.jpg" class="img-fluid" alt="..."></a>
                                    </div>
                                </div>
                            </div>
                            <div class="time-left">30 min ago</div>
                        </div>
                    </div>

                    <span class="timeline-label"><span class="label">March</span></span>

                    <div class="timeline-item">
                        <div class="timeline-point timeline-point"></div>
                        <div class="timeline-event">
                            <div class="timeline-widget">
                                <div class="alert alert-success" role="alert">
                                    <strong>Hey!</strong> This is a success alert
                                </div>
                            </div>
                            <div class="time-right">30 March</div>
                        </div>
                    </div>

                    <span class="timeline-label"><span class="label bg-primary">Load More</span>

                </span>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
