{% extends 'base.html.twig' %}

{% block title %}Hello CommentController!{% endblock %}

{% block body %}
    {% for comment in allComments %}
        <p>{{ comment.content }}</p>
    {% endfor %}
{% endblock %}
