// Colors
$primary: #0276b4;
$secondary: #cbcbcb;
$info: #0296e5;
$danger: #e82f3e;
$warning: #fbb540;

// Elements
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

p {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: 'Roboto', sans-serif;
  }
}

// Classes
.pointer-cursor {
  cursor: pointer;
}