.custom-font {
  &-title {
    color: $dark;
    font-family: 'Shadows Into Light Two', cursive;
  }
  &-text {
    color: $dark;
    font-family: 'Truculenta', sans-serif;
    line-height: 1.5;
  }
}

@for $i from 1 through 9 {
  .custom-bold-#{$i}00 {
    font-weight: #{$i*100};
  }
}