.custom-font {
  &-title {
    color: $dark;
    font-family: 'Shadows Into Light Two', cursive;
  }
  &-text {
    color: $dark;
    font-family: 'Truculenta', sans-serif;
    line-height: 1.5;
  }
}

.custom-bold-600 {
  font-weight: 600;
}