.custom-font {
  &-title {
    color: $dark;
    font-family: 'Shadows Into Light Two', cursive;
  }
  &-text {
    color: $dark;
    font-family: 'Truculenta', sans-serif;
  }
}

.custom-bold-600 {
  font-weight: 600;
}

.text-grey {
  color: $grey !important;
}