{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} | Movie Search{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <h2 class="col-12 text-center custom-font-text mb-5">Recherche d'amis et films</h2>

        <div class="col-12 col-md-6 form-group mb-4">
            <label for="movieSearchInput" class="custom-font-text">Titre ou nom:</label>
            <input type="text" class="form-control custom-font-text" data-search-url="{{ path('search.result', {'text': 'replaceMe'}) }}" id="movieSearchInput" placeholder="Inception">
        </div>

        <div id="moviesResult" class="col-10"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('movieSearch') }}
{% endblock %}
