.btn-follow {
  @extend .btn;
  @extend .btn-info;

  padding: 0.15rem 1.5vw;

  &:after {
    content: 'S\'abboner';
  }
}

.btn-remove-follow-request {
  @extend .btn;
  @extend .btn-info;

  padding: 0.15rem 1.5vw;

  &:after {
    content: 'Demande en attente';
  }

  &:hover {
    @extend .btn-danger;

    &:after{
      content: 'Annuler ma demande';
    }
  }
}

.btn-remove-follow {
  @extend .btn;
  @extend .btn-info;

  padding: 0.15rem 1.5vw;

  &:after {
    content: 'Abonné';
  }

  &:hover {
    @extend .btn-danger;

    &:after{
      content: 'Se désabonner';
    }
  }
}
