.btn-xxs {
  padding: .22rem .3rem .2rem .3rem;
  font-size: .800rem;
  line-height: 1;
  border-radius: .2rem;
}

.btn-xs {
  padding: .25rem .5rem;
  font-size: .800rem;
  line-height: 1;
  border-radius: .2rem;
}

.btn-cancel-follow-request {
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;

  &:after {
    content: 'Demande en attente';
  }

  &:hover {
    &:after{
      content: 'Annuler ma demande';
    }
  }
}

.btn-delete-follow {
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;

  &:hover {
    &:after{
      content: 'Se désabonner';
    }
  }
}

.btn-avatar {
  position: relative;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  overflow: hidden;
  background-color: #F5F5F5;

  &:focus, &:active {
    outline: none;
  }
}