.card {
  transition: 0.3s;
  background-color: $primary;

  &-title {
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 0;
  }

  &-body {
    font-weight: 600;
    font-size: 1rem;
  }

  &-date {
    @extend .custom-font-text;

    position: absolute;
    bottom: 5px;
    right: 10px;
    font-weight: 500;
    font-size: 0.8rem;
  }
}