.hero-image {
  min-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
  padding: 3vw;
}

.hero-text {
  color: white;
  font-size: 1rem;
}