img.poster {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;

  &:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

img.img {
  &-xs {
    height: 5vh;
  }
  &-sm {
    height: 10vh;
  }
  &-md {
    height: 15vh;
  }
  &-lg {
    height: 20vh;
  }
}