.timeline {
  width: 100%;
  position: relative;
  padding: 1px 0;
  list-style: none;
}

.timeline .timeline-item {
  padding-left: 0;
  padding-right: 30px
}

.timeline .timeline-item.timeline-item-right,
.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) {
  padding-left: 30px;
  padding-right: 0
}

.timeline .timeline-item .timeline-event {
  width: 100%
}

.timeline:before {
  border-right-style: solid
}

.timeline:before,
.timeline:after {
  content: " ";
  display: block
}

.timeline:after {
  clear: both
}

.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 100%!important;
  margin-left: 2px;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: rgba(52, 40, 104, .1)
}

.timeline .timeline-label .label {
  background-color: $warning;
  border-radius: 35px;
  color: #fff;
  display: inline;
  font-size: .85rem;
  font-weight: 600;
  line-height: 1;
  padding: .65rem 1.4rem;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap
}

.timeline .timeline-item {
  position: relative;
  float: left;
  clear: left;
  width: 50%;
  margin-bottom: 20px
}

.timeline .timeline-item>.timeline-point {
  top: 25px
}

.timeline .timeline-item:nth-of-type(2) {
  margin-top: 40px
}

.timeline .timeline-item.timeline-item-left,
.timeline .timeline-item.timeline-item-right {
  clear: both!important
}

.timeline .timeline-item.timeline-item-right,
.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) {
  float: right;
  clear: right
}

.timeline .timeline-item.timeline-item-right>.timeline-point,
.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left)>.timeline-point {
  left: -14px
}

.timeline .timeline-item>.timeline-event {
  position: relative;
  float: left
}

.timeline .timeline-item>.timeline-event:before {
  border-left-color: rgba(52, 40, 104, .04);
  border-right-color: rgba(52, 40, 104, .04)
}

.timeline .timeline-item>.timeline-event:after {
  border-left-color: rgba(52, 40, 104, .04);
  border-right-color: rgba(52, 40, 104, .04)
}

.timeline .timeline-item>.timeline-event:before,
.timeline .timeline-item>.timeline-event:after {
  content: "";
  display: inline-block;
  position: absolute
}

.timeline .timeline-item>.timeline-point {
  color: $info;
  background: $info;
  right: -14px;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  margin-left: 8px;
  margin-right: 8px;
  position: absolute;
  z-index: 100;
  border-width: 3px;
  border-style: solid;
  border-radius: 100%;
  line-height: 20px;
  text-align: center;
  box-shadow: 0 0 0 5px #f2f3f8
}

.timeline .timeline-label {
  position: relative;
  float: left;
  clear: left;
  width: 50%;
  margin-bottom: 20px;
  top: 1px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  text-align: center
}

.timeline .timeline-label:last-child {
  margin-bottom: 0!important
}

.timeline .timeline-label + .timeline-item {
  margin-top: 0
}

.timeline .timeline-label + .timeline-item + .timeline-item {
  margin-top: 40px
}

.timeline .time-right {
  color: rgba(52, 40, 104, .5);
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: .85rem;
  font-weight: 500
}

.timeline .time-left {
  color: rgba(52, 40, 104, .5);
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: .85rem;
  font-weight: 500
}

.timeline .widget-header .user-image {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1.07rem
}

.timeline .widget-header .user-image img {
  width: 50px
}

.timeline .widget-header .title {
  color: #2c304d;
  font-size: 1rem
}

.timeline .widget-header .username {
  color: $info;
}

.timeline .widget-header .time {
  font-size: .85rem
}

.timeline .widget-body {
  padding: 1rem 1.4rem 0.5rem 1.4rem
}

.timeline .widget-footer {
  border-top: 1px solid #eee;
  margin: 0 1rem;
  padding: 0.8rem 0
}

@media screen and (max-width:768px) {
  .timeline.timeline {
    width: 100%;
    max-width: 100%
  }
  .timeline.timeline .timeline-item {
    padding-left: 72px;
    padding-right: 0
  }
  .timeline.timeline .timeline-item.timeline-item-right,
  .timeline.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) {
    padding-left: 72px;
    padding-right: 0
  }
  .timeline.timeline .timeline-item .timeline-event {
    width: 100%
  }
  .timeline.timeline:before {
    left: 42px;
    width: 0;
    margin-left: -1px
  }
  .timeline.timeline .timeline-item {
    width: 100%;
    margin-bottom: 20px
  }
  .timeline.timeline .timeline-item:nth-of-type(even) {
    margin-top: 0
  }
  .timeline.timeline .timeline-item>.timeline-event {
    float: right!important
  }
  .timeline.timeline .timeline-item>.timeline-event:before,
  .timeline.timeline .timeline-item>.timeline-event:after {
    right: auto!important;
    border-left-width: 0!important
  }
  .timeline.timeline .timeline-item>.timeline-event:before {
    left: -15px!important;
    border-right-width: 15px!important
  }
  .timeline.timeline .timeline-item>.timeline-event:after {
    left: -14px!important;
    border-right-width: 14px!important
  }
  .timeline.timeline .timeline-item>.timeline-point {
    transform: translateX(-50%);
    left: 42px!important;
    margin-left: 0
  }
  .timeline.timeline .timeline-label {
    transform: translateX(-50%);
    margin: 0 0 20px 42px
  }
  .timeline.timeline .timeline-label + .timeline-item + .timeline-item {
    margin-top: 0
  }
  .timeline .time-right {
    left: 0
  }
}

.timeline-widget {
  margin-bottom: 20px;
}