footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem 20%;
  color: $white !important;
  background-color: $dark;
  text-align: center;

  & > a {
    color: $white !important;
  }
}