nav {
  height: 60px;
  box-shadow: 0 5px 5px 0 $primary;

  & > a {
    position: absolute; left: 2vw;

    &.navbar-brand > img {
      height: 50px;
    }
  }

  & > button {
    position: absolute; right: 2vw;
  }

  & > input {
    @extend .d-none;
    @extend .d-md-block;
    @extend .center-content;

    width: 50%;
    padding: 5px;
    background-color: $primary;
    text-align: center;
    border: none;
    border-radius: 30px;

    &::placeholder {
      color: $dark;
    }
  }

  & > img {
    @extend .d-none;
    @extend .d-md-block;
    @extend .center-content;

    height: 20px;
    margin-left: 23.5%;
    cursor: pointer;
  }

  & > .header-right {
    @extend .d-none;
    @extend .d-md-flex;
    @extend .align-items-center;

    position: absolute; right: 2vw;

    & > a:first-child {
      margin-right: 1vw;
    }

    & > a:nth-child(2) {
      border: black solid 1px;
    }

    & > a > .notifications {
      position: absolute;
      bottom: -5px;
      right: 36px;
      padding: 5px;
      border-radius: 15px;
      color: $danger;
      background-color: $white;
    }
  }

  & > button.btn-header-sidebar {
    @extend .btn;
    @extend .btn-sm;
    @extend .d-block;
    @extend .d-md-none;

    & > .notifications {
      color: $danger;
    }
  }
}

@media screen and (min-width: 720px) {
  nav {
    height: 80px;

    & > a.navbar-brand > img {
      height: 70px;
    }
  }
}