nav {
  font-weight: 500;

  & > a.navbar-brand > img {
    max-height: 30px;
  }

  & > h1 {
    font-size: 1.6rem;
    margin: 0;
  }

  & > button.btn-header-sidebar {
    @extend .btn;
    @extend .btn-sm;

    font-size: 15px;
  }
}

@media screen and (min-width: 576px) {
  nav {
    & > a.navbar-brand > img {
      max-height: 30px;
    }

    & > h1 {
      font-size: 1.6rem;
      margin: 0;
    }

    & > div > ul {
      margin-left: 1vw;
    }

    & > button.btn-header-sidebar {
      display: none;
    }
  }
}