#sidebar {
  position: fixed;
  top: 0;
  left: 100vw;
  width: 0;
  height: 100vh;

  background-color: $white;
  z-index: 3;
  opacity: 0;

  transition: all 0.5s;
  -webkit-transition: all 0.5s;

  & > div {
    display: none;
  }

  &.open{
    left: 0;
    opacity: 1;
    width: 100vw;

    & > div {
      display: block;

      & > a > .notifications {
        position: absolute;
        bottom: 15px;
        right: 65px;
        padding: 10px;
        border-radius: 15px;
        color: $danger;
        background-color: $white;
      }
    }
  }
}