<div id="ratingDiv" class="col-12 rating">
    <span id="rateValue" data-rate-value="{{ rate is defined ? rate : 0 }}"></span>

    <div class="col-12 rating">
        <input type="radio" name="rating" id="rating-5">
        <label data-rating-label="5" for="rating-5"></label>
        <input type="radio" name="rating" id="rating-4">
        <label data-rating-label="4" for="rating-4"></label>
        <input type="radio" name="rating" id="rating-3">
        <label data-rating-label="3" for="rating-3"></label>
        <input type="radio" name="rating" id="rating-2">
        <label data-rating-label="2" for="rating-2"></label>
        <input type="radio" name="rating" id="rating-1">
        <label data-rating-label="1" for="rating-1"></label>
    </div>
</div>
