<h1>Salut {{ user }}!</h1>

<p>
    Alors comme ça on ne se souvient plus de son email ?
</p>

<p>Ton mod de passe provisoir est : {{ password }}</p>

<p>
    <a href="{{ link }}">Reviens te connecter en cliquant ici.</a>
</p>