{% if user in app.user.followers %}

    <span class="badge badge-danger pointer-cursor"
          data-custom-confirm="open"
          data-custom-confirm-configurations='{
            "entity":"user-relationship",
            "action":"refuse",
             "url": "{{ path('user_relationship.refuse', {'id': user.id}) }}"
             }'>
        <i class="fa fa-user-times"></i>
   </span>

{% elseif user in app.user.pendingFollowers %}

    <span class="badge badge-danger pointer-cursor"
          data-user-relationship-action="accept"
          data-user-relationship-url="{{ path('user_relationship.accept_follow', {'id': user.id}) }}">
        <i class="fa fa-user-check"></i>
    </span>

    <span class="badge badge-danger pointer-cursor"
          data-custom-confirm="open"
          data-custom-confirm-configurations='{
            "entity":"user-relationship",
            "action":"refuse",
            "url": "{{ path('user_relationship.refuse', {'id': user.id}) }}"
            }'>
        <i class="fa fa-user-times"></i>
    </span>

{% endif %}