{% extends 'offline_base.html.twig' %}

{% block title %}{{ parent() }} | Oups{% endblock %}

{% block body %}
    <div class="row vertical-center-container full-page-y">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4 center-content card p-4">

            <h1 class="mb-3">Oups !</h1>
            <p class="mb-3">On dirait que le serveur rencontre des problème !</p>

        </div>
    </div>
{% endblock %}