<div id="alert" class="custom-alert custom-font-text px-4" role="alert" style="display: none"></div>

<noscript>
    <div class="custom-alert alert-danger alert-dismissible fade show" role="alert">
        <p class="custom-font-text custom-bold-700">{{ project_title }} a besoin de JavaScript !</p>
    </div>
</noscript>
