<footer class="d-flex justify-content-around custom-font-text">
    <a href="{{ path('tcu') }}" class="d-none d-md-block">Conditions d'utilisations</a>
    <p>© 2020-2021</p>
    <a href="{{ path('about') }}" class="d-none d-md-block">A propos</a>
</footer>