<div class="modal fade" id="customModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered custom-font-text custom-bold-600">
        <div class="modal-content custom-bold-500">
            <div class="modal-header">
                <h5 class="modal-title custom-font-text" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

{#{% if app.flashes('firstTime') %}#}
    <span id="trigger-first-time-modal" class="d-none"
          data-user-firstname="{{ app.user.firstname }}"
          data-user-edit-link="{{ absolute_url(path('user.edit')) }}"
          data-user-avatar="{{ app.user.avatar|formatAvatarData }}">
        Bienvenue sur {{ project_title }} !
    </span>
{#{% endif %}#}