{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | User edit{% endblock %}

{% block body %}
    <section class="row">
        <div class="col-12 d-flex justify-content-around">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="user-settings-tab" data-toggle="pill" href="#pills-settings" role="tab" aria-controls="pills-settings" aria-selected="true">Informations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="user-relationships-tab" data-toggle="pill" href="#pills-relationships" role="tab" aria-controls="pills-relationships" aria-selected="false">Contacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="user-activty-tab" data-toggle="pill" href="#pills-activity" role="tab" aria-controls="pills-activity" aria-selected="false">Activité</a>
                </li>
            </ul>
        </div>
    </section>

    <section class="tab-content">
        <div class="tab-pane fade show active" id="pills-settings" role="tabpanel" aria-labelledby="user-settings-tab">
            {% include 'user/tabs/_settings.html.twig' %}
        </div>
        <div class="tab-pane fade col-12" id="pills-relationships" role="tabpanel" aria-labelledby="user-relationships-tab">
            {% include 'user/tabs/_relationships.html.twig' %}
        </div>
        <div class="tab-pane fade col-12" id="pills-activity" role="tabpanel" aria-labelledby="user-activty-tab">
            {% include 'user/tabs/_activity.html.twig' %}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('userEdit') }}
{% endblock %}